*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #262627;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

@keyframes load{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

.main-header{
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.main-link{
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 2.4rem;
}

.main-link:hover{
  text-decoration: underline;
}

.link,.link-to-main{
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  background: #A99989;
  color: #fff;
  padding: 9px;
  width: 8rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  position: relative;
}

.link-to-main svg{
  transform: translateY(7px);
}

.posts-main{
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.single-post{
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 1.2rem 0;
}

.user{
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0;
  margin-bottom: 1.5rem;
}

.user-name{
  font-size: 1.8rem;
}

.user-name-span{
  font-weight: 700;
  font-size: 1.4rem;
  color: #FBA51A;
}

.user-img{
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  margin: 0 0.5rem;
}

.single-post-wrapper{
  width: 90vw;
  margin: 0 auto;
}

.single-post-title{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.single-post-body{
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.search-user-wrapper{
  width: 90vw;
  margin: 0 auto;
}

.search-user-bar{
  display: flex;
  flex-flow: row nowrap;
  margin: 2rem 0 3rem 0;
}

.search-input{
  width: 80%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius:  100px 0 0 100px;
  border: none;
  color: rgb(19, 16, 16);
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.search-button{
  width: 20%;
  border-radius: 0 100px 100px 0;
  border: none;
  background: rgb(218, 63, 63);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}

.user-info{
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
}

.user-info-span{
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: underline;
}

.user-info-img{
  margin:2rem 0 3rem 0;
  width: 100%;
}

.user-info p{
  margin-bottom: 1rem;
}

.albums-wrapper{
  width: 90vw;
}

.album-header{
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.album-title hr{
  margin-top: 3rem;
}

.albums-header{
  margin-top: 1.5rem;
  font-size: 2rem;
}

.photos-wrapper{
  width: 90vw;
  margin: 0 auto;
}

.photos-album-title{
  margin: 2rem 0;
}

.single-photo-span{
  font-weight: 300;
}

.single-photo-img{
    width: 100%;
    margin: 0.5rem 0 2.5rem 0;
}

.single-photo-title{
  font-size: 1.4rem;
  font-weight: 500;
}

.load-ani1{
  position: absolute;
  background: #fff;
  border-radius: 100px;
  margin-left: 20px;
  top: 50%;
  width: 20px;
  height: 20px;
  left: 30%;
  animation: load ease-in-out infinite 1s;
}
.load-ani2{
  position: absolute;
  background: #fff;
  border-radius: 100px;
  margin-left: 20px;
  top: 50%;
  width: 25px;
  height: 25px;
  left: 40%;
  animation: load ease-in-out infinite 1s;
  animation-delay: 0.2s;
}
.load-ani3{
  position: absolute;
  background: #fff;
  border-radius: 100px;
  margin-left: 20px;
  top: 50%;
  width: 20px;
  height: 20px;
  left: 50%;
  animation: load ease-in-out infinite 1s;
  animation-delay: 0.4s;
}

.ani-header{
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 1.4rem;
  font-weight: 300;
}